---
- name: Fix DNS config
  become: yes
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 8.8.8.8
      nameserver 1.1.1.1
    owner: root
    group: root
    mode: '0644'

# We TRY to update apt, but we don't fail the play if the repo is dead
- name: Retry apt update with fixed DNS (best effort)
  become: yes
  ansible.builtin.apt:
    update_cache: yes
  register: apt_update_result
  failed_when: false

- name: Install net-tools (best effort)
  become: yes
  ansible.builtin.apt:
    name: net-tools
    state: present
    update_cache: no
  register: net_tools_result
  failed_when: false

- name: Install unzip (best effort)
  become: yes
  ansible.builtin.apt:
    name: unzip
    state: present
    update_cache: no
  register: unzip_result
  failed_when: false

- name: Install dnsutils (best effort)
  become: yes
  ansible.builtin.apt:
    name: dnsutils
    state: present
    update_cache: no
  register: dnsutils_result
  failed_when: false
