---
# Basic configuration of all defined devices

# Installation of common tools at all hosts
- name: Configuring hosts
  hosts: hosts
  become: yes
  roles:
    - hosts

# Installation and configuration of each host
- name: Configure attacker
  hosts: attacker
  become: true
  roles:
    - role: kypo-user-access
      kypo_user_access_username: user
      kypo_user_access_password: Password123
      kypo_user_access_sudo: True
      kypo_user_access_ssh_public_key: "{{ playbook_dir }}/ssh_keys/user.pub"
    - role: attacker
    - role: chrony

- name: Configure client
  hosts: client
  become: true
  roles:
    - role: client

- name: Configure server
  hosts: server
  become: true
  roles:
    - role: server

- name: setup hosts logging roles
  hosts:
    - routers
    - hosts
  become: yes
  vars:
    sandbox_name: junior-hacker-local
    central_syslog_ip: 78.128.251.179
